.vscode/
__pycache__/
*.egg-info/
build/
dist/
stats/
.env

*.html
**/html/**
**/_build/**

#tiledb
**/__fragments/**
**/__commits/**
**/__schema/**
**/__meta/**

#test data sets
**/boston_lot*/**
**/tifs_test/**
autzen-classified.copc.laz


.DS_Store
