.vscode/
__pycache__/
*.egg-info/
build/
dist/
stats/

*.html
**/html/**
**/_build/**

# local conda environment
# conda env create --prefix .conda/ -f environment.yml
.conda/**

# environment variables for pytest
.env

#tiledb
**/__fragments/**
**/__commits/**
**/__schema/**
**/__meta/**

#test data sets
**/boston_lot*/**
**/tifs_test/**
autzen-classified.copc.laz

#sample metrics
metrics_aligned/
autzen-aligned.tdb/

.DS_Store
